{{#if this.error}}
  <p>{{this.error}}</p>
{{/if}}

<form class="uk-form-stacked" onsubmit={{fn this.mergeTemplate}}>
  <p>
    <label class="uk-form-label" for="form-template">
      {{~t "merge.label"~}}
    </label>

    <div class="uk-form-controls">
      <select class="uk-select" name="template" id="form-template" required>
        <option value="" selected disabled>{{t "merge.choose"}}</option>

        {{#each this.templates as |template|}}
          <option value={{template.slug}}>
            {{~template.description~}}
          </option>
        {{/each}}
      </select>
    </div>
  </p>

  <UkButton
    @color="primary"
    @label={{t "merge.submit"}}
    @type="submit"
  />
</form>
