<form class="uk-form-stacked" onsubmit={{action "uploadTemplate"}}>
  <p>
    <label class="uk-form-label" for="form-slug">{{t "manage.slug"}}</label>
    <div class="uk-form-controls">
      {{input 
        class=(concat "uk-input " (if (get error "slug") "uk-form-danger"))
        id="form-slug" 
        name="slug"
      }}
    </div>
    {{#if (get error "slug")}}
      <div class="uk-text-danger">{{get error "slug"}}</div>
    {{/if}}
  </p>

  <p>
    <label class="uk-form-label" for="form-description">{{t "manage.label"}}</label>
    <div class="uk-form-controls">
      {{input 
        class=(concat "uk-input " (if (get error "description") "uk-form-danger"))
        id="form-description" 
        name="description"
      }}
    </div>
    {{#if (get error "description")}}
      <div class="uk-text-danger">{{get error "description"}}</div>
    {{/if}}
  </p>
 
  <p>
    <label class="uk-form-label" for="form-template">{{t "manage.file"}}</label>
    <div class="uk-form-controls">
      <div uk-form-custom="target: true" class="uk-width-1-1">
        <input type="file" name="template" id="form-template">
        <input 
          class="uk-input {{if (get error "template") "uk-form-danger"}}" 
          type="text" 
          placeholder={{t "manage.select"}}
          readonly
          >
      </div>
    </div>
    {{#if (get error "slug")}}
      <div class="uk-text-danger">{{get error "template"}}</div>
    {{/if}}
  </p>

  {{uk-button
    label=(t "manage.upload")
    type="submit"
    color="primary"
  }}
</form>