<h1>{{t "dummy.title"}}</h1>

<ManageFiles />


<hr>

<p>
  <label class="uk-form-label" for="data">
    {{t "dummy.dataLabel"}}
  </label>

  <div class="uk-form-controls">
    <Textarea
      @value={{this.input}}
      id={{concat this.elementId "-data"}}
    />
  </div>
</p>

<MergeFiles @data={{this.data}} />

{{outlet}}
