<h1>{{t "dummy.title"}}</h1>

{{manage-files}}

<hr>

<p>
  <label class="uk-form-label" for="data">
    {{t "dummy.dataLabel"}}
  </label>

  <div class="uk-form-controls">
    {{textarea
      id="data"
      value=input
      change=(action "updateData")
    }}
  </div>
</p>

{{merge-files data=data}}

{{outlet}}